$color-bg: #000000;
$color-primary: #ff6600;
$color-dark-grey: #222222;
$color-text: #ffffff;

$font-family-base: 'Courier New', Courier, monospace;
$font-size-base: 16px;

$screen-width: 960px;
$screen-height: 540px;
$spacing-unit: 1rem;